.users {
  width: 15%;
  background: #3b3b3b;
  height: 95.5vh;
  left: 0;
}
.chatFriend {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #aeadad;
  cursor: pointer;
}
.users h3 {
  color: #aeadad;
  text-align: center;
  font-weight: 300;
  padding: 20px;
  border-bottom: 1px solid rgba(93, 93, 93, 0.8);
}
.chatFriend:hover {
  background: #525252;
}
.userImgWrap {
  margin-left: 25%;
}
.chatFriend img {
  border-radius: 50%;
  margin-right: 10px;
}
.chatFriend p:hover {
  text-decoration: underline;
}
.online-signal {
  color: #08d708;
  font-size: 0.5em;
  margin-left: 10px;
  align-items: center;
}
.offline-signal {
  color: red;
  font-size: 0.5em;
  margin-left: 10px;
  align-items: center;
}
